.wrapper
{
    position: relative;
    margin: 0;
}

.contentwrapper
{
    padding-bottom: 394px;
    min-height: 746px;
    @media (min-width: 1024px) {
        padding-bottom: 400px;
    }
}

.footerwrapper
{
    position: absolute;
    background-color: #1b1b1b;
    z-index: 99;
    width: 100%;
    margin: auto;
    height: 500px;
    bottom: 0;
    color: white;
    -webkit-transition: none !important;
    transition: none !important;
    left: 0;
    @media (min-width: 1024px) {
        height: 400px;
    }
}