@import "../styles/variables.scss";
$maxwidth: 1200px;

.wrapper
{
    padding-top: 100px;
    width: 100%;
    background-color: $dark3;
}

.headersection
{
    max-width: $maxwidth;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
    opacity: .87;
}

.headersection h1{
    font-size: 3em;
    padding-top: 30px;
    padding-bottom: 40px;
}

.headersection h4
{
    font-style: italic;
}

.imagesection
{
    max-width: $maxwidth;
    padding-top: 30px;
    display: table;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
}

.leftimage img
{
    width: 48%;
    float: left;
    margin-right: 4%;
}

.rightimage img
{
    width: 48%;
    float: left;
}

.textsection
{
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    color: white;
    opacity: .87;
    font-size: 1.3em;
    line-height: 1.6em;
}

.textsection p
{
    padding-bottom: 20px;
}

.textsection h3
{
    padding-top: 20px;
    font-size: 1.5em;
    padding-bottom: 10px;
}