@import "../styles/variables.scss";
$maxwidth: 1200px;

.wrapper
{
    padding-top: 100px;
    width: 100%;
    background-color: $dark3;
    padding-bottom: 120px;
    @media (min-width: 1024px) {
        padding-bottom: 40px;
    }
}