@import "../styles/variables.scss";
$maxwidth: 1200px;

.wrapper
{
    padding-top: 100px;
    width: 100%;
    background-color: $dark3;
    padding-bottom: 120px;
    @media (min-width: 1024px) {
        padding-bottom: 40px;
        min-height: 630px;
    }
}

.innerwrapper
{
    max-width: $maxwidth;
    margin-left: auto;
    margin-right: auto;
    
    @media (min-width: 1024px) {
        height: 600px;
    }
    
}

.portrait
{
    width: 100%;
    max-height: 400px;
    float: left;
    display: contents;
    @media (min-width: 1024px) {
        width: 60%;
        display: inline;
    }

}

.portrait img
{
    border-radius: 50%;
    max-width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    max-height: 400px;
    padding-left: 10%;
    padding-right: 10%;
    @media (min-width: 1024px) {
        max-height: 100%;
        padding-left: 0;
        padding-right: 0;
        max-width: auto;
        margin-top: 30px;
    }
}

.contact
{
    width: 100%;
    height: 100%;
    float: none;
    color: white;
    opacity: .87;
    @media (min-width: 1024px) {
        width: 40%;
        float: left;
    }

}

.innercontact
{
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 30px;
}

.contact h1
{
    padding-bottom: 30px;
    text-align: center;
    margin-top: 20px;
    @media (min-width: 1024px) {
        text-align: left;
        margin-top: 0px;
    }
}

.inputname
{
    padding: 15px;
    font-size: 1em;
    width: 96%;
    margin-bottom: 10px;
    background-color: $dark2;
    color: $highlight1;
    border: none;
    margin-top: 20px;
    
}

.inputname:focus
{
    outline: 1px dashed $highlight1;
}

.inputmail
{
    padding: 15px;
    font-size: 1em;
    width: 96%;
    margin-bottom: 10px;
    background-color: $dark2;
    color: $highlight1;
    border: none;
    
}

.inputmail:focus
{
    outline: 1px dashed $highlight1;
}

.inputmessage
{
    padding: 15px;
    font-size: 1em;
    width: 96%;
    background-color: $dark2;
    color: $highlight2;
    height: 100px;
    border: none;
}

.inputmessage:focus
{
    outline: 1px dashed $highlight2;
}

.gdpr
{
    float: left;
    margin-top: 5px;
}

.gdprlabel
{
    display: block;
    margin-left: 20px;
}

.form a{
    color: $highlight1;
}

.submitbutton
{
    padding: 10px 20px 10px 20px;
    background: $dark3;
    color: white;
    font-size: .9em;
    border-radius: 10px;
    border: 1px solid #888;
    margin-top: 10px;
    cursor: pointer;
    text-transform: uppercase;
    @media (min-width: 1024px) {
        padding: 15px 50px 15px 50px;
    }
}

.submitbutton:hover
{
    background: $dark2;
    text-decoration: none;
    border: 1px solid #aaa;
    cursor: pointer;
}

.submitbutton:focus
{
    outline: none;
}

.contact p
{
    line-height: 2em;
}