@import "../styles/variables.scss";
$maxwidth: 1200px;

.wrapper
{
    padding-top: 100px;
    width: 100%;
    background-color: $dark3;
    padding-bottom: 120px;
    @media (min-width: 1024px) {
        padding-bottom: 40px;
    }
}

.innerwrapper
{
    max-width: $maxwidth;
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    
}

.portrait
{
    width: 60%;
    height: 100%;
    float: left;

}

.portrait img
{
    border-radius: 50%;
    height: 100%;
}

.contact
{
    width: 40%;
    height: 100%;
    float: left;
    color: white;
    opacity: .87;

}

.contact h1
{
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 30px;

}

.contact p
{
    padding-left: 30px;
    padding-right: 30px;
    line-height: 2em;
}