@import "../styles/variables.scss";
$maxwidth: 1200px;

.wrapper
{
    min-height: 900px;
    padding-top: 100px;
    width: 100%;
    background-color: $dark3;
    padding-bottom: 120px;
    @media (min-width: 1024px) {
        padding-bottom: 40px;
        padding-top: 300px;
    }
}

.wrapper h1
{
    font-size: 3em;
    padding-top: 30px;
    padding-bottom: 40px;
    font-size: 2em;
    padding-bottom: 20px;
    @media (min-width: 1024px) {
        padding-bottom: 50px;
    }
}

.wrapper a
{
    color: $highlight1;
    font-weight: 800;
    text-decoration: none;
}

.wrapper a:hover
{
    text-decoration: underline;
}

.wrapper h2
{
    font-size: 1.6em;
    padding-top: 40px;
    padding-bottom: 10px;
}

.wrapper h3
{
    padding-top: 20px;
    font-size: 1.3em;
}

.wrapper h4
{
    padding-top: 10px;
    font-size: 1em;
}

.textsection
{
    padding-left: 15px;
    padding-right: 15px;
    max-width: $maxwidth;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    color: white;
    opacity: .87;
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.6em;
    @media (min-width: 1024px) {
        font-size: 1.3em;
    }
}

.textsection p
{
    padding-bottom: 20px;
}