@import "../styles/variables.scss";

.wrapper
{
    padding-top: 70px;
    padding-bottom: 100px;
}

.next
{
    text-align: center;
    background-color: $dark1;
    padding-top: 30px;
    padding-bottom: 30px;
    display: block;
    border: none;
    color: white;
    opacity: .87;
    font-size: 1.2em;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid $dark1;
}

.next:hover
{
    background-color: $dark2;
    border: 2px solid $dark1;
    background-image: linear-gradient(to right, $highlight1 , $highlight2);
}

.arrowicon
{
    vertical-align: text-top;
    font-size:28px;
}