@import "../../styles/variables.scss";

/*-------------------------------------------*\
    Menu.js
\*-------------------------------------------*/
.navbar
{
    position: fixed;
    width: 100%;
    z-index: 1;
    
}

.cont
{
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    color: black;
    padding-top: 10px;
    padding-bottom: 9px;        
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height:40px;

    @media (min-width: 1024px) {
        padding-top: 0px;
        padding-bottom: 20px;
        max-width: 90%;
    }
}

.menucontainer
{
    float: left;
    top: 60px;
    left: 0px;
    overflow-y: inherit;
    right: 0px;
    bottom: 0px;
    width: 100%;
    padding-top: 0px;

    @media (min-width: 1024px) {
        width: 80%;
        position: relative;
        padding-top: 8px;
        top: 0px;
        left: none;
        bottom: none;
        right: none;
    }
}

/*-------------------------------------------*\
    Headerlogo.js
\*-------------------------------------------*/

.logocontainer
{
    width: 60%;
    float: left;
    padding-top: 6px;
    padding-left: 25px;
    @media (min-width: 1024px) {
        width: 20%;
        padding-left: 0px;
        padding-top: 12px;
    }
}

.logohref
{
    color: white;
    font-size: 1.2em;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0px;
    @media (min-width: 1024px) {
        font-size: 1.5em;
    }

}

.headerlogo
{
    justify-content:  flex-start;       
    padding-left: 20px;
    padding-right: 20px;
    height: 40px;
    min-width: 180px;
    padding-top: 0px;
    border-bottom: none;
    margin-top: 0px;
    padding-left: 0px;
    display: flex !important;
    width: auto;
    background-color: transparent;
    margin-left:0;
    @media (min-width: 1024px) {
        padding-top: 13px;
        height: 50px;
    }
}

/*-------------------------------------------*\
    MenuToggleButton.js
\*-------------------------------------------*/


.menutogglebutton
{
    margin-right: 30px;
    margin-top: 10px;


    @media (min-width: 1024px) {
        display: none;
    }
}

.mobiletoggle {
    outline: none;

    border: none;
    cursor: pointer;
    background-color: transparent;
  }

/*-------------------------------------------*\
    MainMenu.js
\*-------------------------------------------*/

.unorderedlistmain
{
    justify-content: center;    
    width: 100%;
    padding-left: 15px;
    padding-top: 10px;
    border-bottom: 1px solid #333;
    padding-bottom: 3px;
    list-style-type: none;
    background-color: #1b1b1b;

    @media (min-width: 1024px) {
        padding-top: 13px;
        border-bottom: none;
        padding-left: 0px;
        float: left;
        display: flex !important;
        width: 80%;
        background-color: transparent;
        margin-left:0;
    }
}

.listitem
{
    padding: 10px 10px;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 0.7em;
    text-decoration: none;
    font-weight: 600;
    font-family: sans-serif;

    a
    {
        color: white;
        font-weight:300;
        font-family: sans-serif;
        font-size: 1.2em;
        text-decoration:none;
    }

    a:hover
    {
        border-bottom: 2px solid white;
        padding-bottom: 5px;
    }

    @media (min-width: 1024px) {
        padding: 0 10px;
    }
}

.listitemactive
{
    @extend .listitem;
    a
    {
        border-bottom: 2px solid white;
        padding-bottom: 5px;
    }
}

/*-------------------------------------------*\
    SideMenu.js
\*-------------------------------------------*/

.subnavunorderedlistside
{
      
    height: auto;
    width: 100%;
    list-style-type: none;
    padding-left: 15px;
    background-color: #1b1b1b;
    padding-bottom: 15px;
    box-shadow: 0 8px 5px -4px rgba(0, 0, 0, 0.1);

    @media (min-width: 1024px) {
        padding-top: 13px;
        padding-left: 0px;
        height: auto;
        display: flex !important;
        width: 20%;
        text-align: right;
        margin-left: 0;
        background-color: transparent;
        box-shadow: none;
        justify-content: flex-end;
        float: right;
    }
}